--
-- PostgreSQL database dump
--

\restrict 8aZBK6E8dPv9ieowdonbqB2zgyob6ehSg9ul2CJThIVpTHtmdc5sYUi6EHGI9IP

-- Dumped from database version 16.13
-- Dumped by pg_dump version 16.13

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: timescaledb; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS timescaledb WITH SCHEMA public;


--
-- Name: EXTENSION timescaledb; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION timescaledb IS 'Enables scalable inserts and complex queries for time-series data (Community Edition)';


SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: telemetry_raw; Type: TABLE; Schema: public; Owner: fleet_user
--

CREATE TABLE public.telemetry_raw (
    id bigint NOT NULL,
    device_id character varying(20) NOT NULL,
    ts timestamp with time zone NOT NULL,
    lat double precision,
    lon double precision,
    speed real,
    heading smallint,
    altitude real,
    hdop real,
    rpm smallint,
    throttle real,
    engine_load real,
    coolant_temp real,
    fuel_level real,
    maf_airflow real,
    ax real,
    ay real,
    az real,
    gx real,
    gy real,
    gz real,
    event character varying(30),
    event_severity real,
    ignition boolean,
    created_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.telemetry_raw OWNER TO fleet_user;

--
-- Name: _hyper_1_1_chunk; Type: TABLE; Schema: _timescaledb_internal; Owner: fleet_user
--

CREATE TABLE _timescaledb_internal._hyper_1_1_chunk (
    CONSTRAINT constraint_1 CHECK (((ts >= '2026-07-02 00:00:00+00'::timestamp with time zone) AND (ts < '2026-07-09 00:00:00+00'::timestamp with time zone)))
)
INHERITS (public.telemetry_raw);


ALTER TABLE _timescaledb_internal._hyper_1_1_chunk OWNER TO fleet_user;

--
-- Name: _hyper_1_2_chunk; Type: TABLE; Schema: _timescaledb_internal; Owner: fleet_user
--

CREATE TABLE _timescaledb_internal._hyper_1_2_chunk (
    CONSTRAINT constraint_2 CHECK (((ts >= '2026-07-16 00:00:00+00'::timestamp with time zone) AND (ts < '2026-07-23 00:00:00+00'::timestamp with time zone)))
)
INHERITS (public.telemetry_raw);


ALTER TABLE _timescaledb_internal._hyper_1_2_chunk OWNER TO fleet_user;

--
-- Name: api_keys; Type: TABLE; Schema: public; Owner: fleet_user
--

CREATE TABLE public.api_keys (
    id integer NOT NULL,
    key_hash character varying(255) NOT NULL,
    name character varying(100),
    created_by integer,
    is_active boolean DEFAULT true,
    created_at timestamp with time zone DEFAULT now(),
    last_used timestamp with time zone,
    scope character varying(20) DEFAULT 'general'::character varying
);


ALTER TABLE public.api_keys OWNER TO fleet_user;

--
-- Name: api_keys_id_seq; Type: SEQUENCE; Schema: public; Owner: fleet_user
--

CREATE SEQUENCE public.api_keys_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.api_keys_id_seq OWNER TO fleet_user;

--
-- Name: api_keys_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: fleet_user
--

ALTER SEQUENCE public.api_keys_id_seq OWNED BY public.api_keys.id;


--
-- Name: devices; Type: TABLE; Schema: public; Owner: fleet_user
--

CREATE TABLE public.devices (
    id character varying(20) NOT NULL,
    vehicle_id integer,
    active boolean DEFAULT true,
    firmware_ver character varying(50),
    registered_at timestamp with time zone DEFAULT now(),
    driver_id integer,
    mqtt_username character varying(50),
    mqtt_password_hash character varying(255)
);


ALTER TABLE public.devices OWNER TO fleet_user;

--
-- Name: scoring_config_cache; Type: TABLE; Schema: public; Owner: fleet_user
--

CREATE TABLE public.scoring_config_cache (
    id integer NOT NULL,
    config_name character varying(100) NOT NULL,
    effective_date date,
    score_base real DEFAULT 100.0,
    harsh_brake_deduct real DEFAULT 5.0,
    harsh_accel_deduct real DEFAULT 3.0,
    harsh_corner_deduct real DEFAULT 3.0,
    speeding_deduct real DEFAULT 10.0,
    idling_deduct real DEFAULT 2.0,
    bump_deduct real DEFAULT 4.0,
    max_deduct_per_trip real DEFAULT 50.0,
    harsh_brake_g real DEFAULT 0.40,
    harsh_accel_g real DEFAULT 0.40,
    harsh_corner_g real DEFAULT 0.40,
    speeding_kmh_over real DEFAULT 20.0,
    idle_min_threshold real DEFAULT 5.0,
    synced_from_odoo_at timestamp with time zone,
    is_active boolean DEFAULT false,
    created_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.scoring_config_cache OWNER TO fleet_user;

--
-- Name: scoring_config_cache_id_seq; Type: SEQUENCE; Schema: public; Owner: fleet_user
--

CREATE SEQUENCE public.scoring_config_cache_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.scoring_config_cache_id_seq OWNER TO fleet_user;

--
-- Name: scoring_config_cache_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: fleet_user
--

ALTER SEQUENCE public.scoring_config_cache_id_seq OWNED BY public.scoring_config_cache.id;


--
-- Name: telemetry_raw_id_seq; Type: SEQUENCE; Schema: public; Owner: fleet_user
--

CREATE SEQUENCE public.telemetry_raw_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.telemetry_raw_id_seq OWNER TO fleet_user;

--
-- Name: telemetry_raw_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: fleet_user
--

ALTER SEQUENCE public.telemetry_raw_id_seq OWNED BY public.telemetry_raw.id;


--
-- Name: trip_logs; Type: TABLE; Schema: public; Owner: fleet_user
--

CREATE TABLE public.trip_logs (
    id bigint NOT NULL,
    device_id character varying(20) NOT NULL,
    vehicle_id integer NOT NULL,
    driver_id integer,
    trip_start timestamp with time zone NOT NULL,
    trip_end timestamp with time zone,
    distance_km real,
    duration_min real,
    idle_min real,
    max_speed real,
    avg_speed real,
    harsh_brake_count smallint DEFAULT 0,
    harsh_accel_count smallint DEFAULT 0,
    harsh_corner_count smallint DEFAULT 0,
    speeding_count smallint DEFAULT 0,
    driver_score real DEFAULT 100.0,
    fuel_used real,
    gps_track jsonb,
    synced_to_odoo boolean DEFAULT false,
    synced_at timestamp with time zone,
    created_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.trip_logs OWNER TO fleet_user;

--
-- Name: trip_logs_id_seq; Type: SEQUENCE; Schema: public; Owner: fleet_user
--

CREATE SEQUENCE public.trip_logs_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.trip_logs_id_seq OWNER TO fleet_user;

--
-- Name: trip_logs_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: fleet_user
--

ALTER SEQUENCE public.trip_logs_id_seq OWNED BY public.trip_logs.id;


--
-- Name: update_status; Type: TABLE; Schema: public; Owner: fleet_user
--

CREATE TABLE public.update_status (
    vehicle_id integer NOT NULL,
    device_id character varying(20) NOT NULL,
    driver_id integer,
    date_update_latest timestamp with time zone DEFAULT now()
);


ALTER TABLE public.update_status OWNER TO fleet_user;

--
-- Name: users; Type: TABLE; Schema: public; Owner: fleet_user
--

CREATE TABLE public.users (
    id integer NOT NULL,
    username character varying(50) NOT NULL,
    email character varying(100) NOT NULL,
    hashed_password character varying(255) NOT NULL,
    full_name character varying(100),
    is_active boolean DEFAULT true,
    role character varying(20) DEFAULT 'user'::character varying,
    created_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.users OWNER TO fleet_user;

--
-- Name: users_id_seq; Type: SEQUENCE; Schema: public; Owner: fleet_user
--

CREATE SEQUENCE public.users_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.users_id_seq OWNER TO fleet_user;

--
-- Name: users_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: fleet_user
--

ALTER SEQUENCE public.users_id_seq OWNED BY public.users.id;


--
-- Name: v_device_latest_position; Type: VIEW; Schema: public; Owner: fleet_user
--

CREATE VIEW public.v_device_latest_position AS
 SELECT us.vehicle_id,
    us.device_id,
    us.date_update_latest,
    d.active,
    t.ts AS last_seen,
    t.lat,
    t.lon,
    t.speed,
    t.heading,
    t.ignition,
    t.event
   FROM ((public.update_status us
     LEFT JOIN public.devices d ON (((d.id)::text = (us.device_id)::text)))
     LEFT JOIN LATERAL ( SELECT telemetry_raw.ts,
            telemetry_raw.lat,
            telemetry_raw.lon,
            telemetry_raw.speed,
            telemetry_raw.heading,
            telemetry_raw.ignition,
            telemetry_raw.event
           FROM public.telemetry_raw
          WHERE ((telemetry_raw.device_id)::text = (us.device_id)::text)
          ORDER BY telemetry_raw.ts DESC
         LIMIT 1) t ON (true));


ALTER VIEW public.v_device_latest_position OWNER TO fleet_user;

--
-- Name: v_driver_monthly_summary; Type: VIEW; Schema: public; Owner: fleet_user
--

CREATE VIEW public.v_driver_monthly_summary AS
 SELECT driver_id,
    to_char(date_trunc('month'::text, trip_start), 'YYYY-MM'::text) AS month,
    count(*) AS total_trips,
    round((avg(driver_score))::numeric, 2) AS avg_score,
    round((sum(distance_km))::numeric, 2) AS total_distance_km,
    round((sum(idle_min))::numeric, 2) AS total_idle_min,
    sum(harsh_brake_count) AS total_harsh_brake,
    sum(harsh_accel_count) AS total_harsh_accel,
    sum(harsh_corner_count) AS total_harsh_corner,
    sum(speeding_count) AS total_speeding,
    sum(
        CASE
            WHEN (driver_score >= (85)::double precision) THEN 1
            ELSE 0
        END) AS safe_trips
   FROM public.trip_logs
  WHERE (driver_id IS NOT NULL)
  GROUP BY driver_id, (date_trunc('month'::text, trip_start));


ALTER VIEW public.v_driver_monthly_summary OWNER TO fleet_user;

--
-- Name: _hyper_1_1_chunk id; Type: DEFAULT; Schema: _timescaledb_internal; Owner: fleet_user
--

ALTER TABLE ONLY _timescaledb_internal._hyper_1_1_chunk ALTER COLUMN id SET DEFAULT nextval('public.telemetry_raw_id_seq'::regclass);


--
-- Name: _hyper_1_1_chunk created_at; Type: DEFAULT; Schema: _timescaledb_internal; Owner: fleet_user
--

ALTER TABLE ONLY _timescaledb_internal._hyper_1_1_chunk ALTER COLUMN created_at SET DEFAULT now();


--
-- Name: _hyper_1_2_chunk id; Type: DEFAULT; Schema: _timescaledb_internal; Owner: fleet_user
--

ALTER TABLE ONLY _timescaledb_internal._hyper_1_2_chunk ALTER COLUMN id SET DEFAULT nextval('public.telemetry_raw_id_seq'::regclass);


--
-- Name: _hyper_1_2_chunk created_at; Type: DEFAULT; Schema: _timescaledb_internal; Owner: fleet_user
--

ALTER TABLE ONLY _timescaledb_internal._hyper_1_2_chunk ALTER COLUMN created_at SET DEFAULT now();


--
-- Name: api_keys id; Type: DEFAULT; Schema: public; Owner: fleet_user
--

ALTER TABLE ONLY public.api_keys ALTER COLUMN id SET DEFAULT nextval('public.api_keys_id_seq'::regclass);


--
-- Name: scoring_config_cache id; Type: DEFAULT; Schema: public; Owner: fleet_user
--

ALTER TABLE ONLY public.scoring_config_cache ALTER COLUMN id SET DEFAULT nextval('public.scoring_config_cache_id_seq'::regclass);


--
-- Name: telemetry_raw id; Type: DEFAULT; Schema: public; Owner: fleet_user
--

ALTER TABLE ONLY public.telemetry_raw ALTER COLUMN id SET DEFAULT nextval('public.telemetry_raw_id_seq'::regclass);


--
-- Name: trip_logs id; Type: DEFAULT; Schema: public; Owner: fleet_user
--

ALTER TABLE ONLY public.trip_logs ALTER COLUMN id SET DEFAULT nextval('public.trip_logs_id_seq'::regclass);


--
-- Name: users id; Type: DEFAULT; Schema: public; Owner: fleet_user
--

ALTER TABLE ONLY public.users ALTER COLUMN id SET DEFAULT nextval('public.users_id_seq'::regclass);


--
-- Data for Name: _hyper_1_1_chunk; Type: TABLE DATA; Schema: _timescaledb_internal; Owner: fleet_user
--

COPY _timescaledb_internal._hyper_1_1_chunk (id, device_id, ts, lat, lon, speed, heading, altitude, hdop, rpm, throttle, engine_load, coolant_temp, fuel_level, maf_airflow, ax, ay, az, gx, gy, gz, event, event_severity, ignition, created_at) FROM stdin;
\.


--
-- Data for Name: _hyper_1_2_chunk; Type: TABLE DATA; Schema: _timescaledb_internal; Owner: fleet_user
--



--
-- Data for Name: api_keys; Type: TABLE DATA; Schema: public; Owner: fleet_user
--

COPY public.api_keys (id, key_hash, name, created_by, is_active, created_at, last_used, scope) FROM stdin;
\.


--
-- Data for Name: devices; Type: TABLE DATA; Schema: public; Owner: fleet_user
--



--
-- Data for Name: scoring_config_cache; Type: TABLE DATA; Schema: public; Owner: fleet_user
--



--
-- Data for Name: telemetry_raw; Type: TABLE DATA; Schema: public; Owner: fleet_user
--

COPY public.telemetry_raw (id, device_id, ts, lat, lon, speed, heading, altitude, hdop, rpm, throttle, engine_load, coolant_temp, fuel_level, maf_airflow, ax, ay, az, gx, gy, gz, event, event_severity, ignition, created_at) FROM stdin;
\.


--
-- Data for Name: trip_logs; Type: TABLE DATA; Schema: public; Owner: fleet_user
--



--
-- Data for Name: update_status; Type: TABLE DATA; Schema: public; Owner: fleet_user
--

COPY public.update_status (vehicle_id, device_id, driver_id, date_update_latest) FROM stdin;
1	KTC-001	1	2026-07-22 05:05:16.108248+00
2	KTC-002	2	2026-07-22 05:05:22.730393+00
3	KTC-003	3	2026-07-22 05:05:28.055512+00
4	KTC-004	4	2026-07-22 05:05:33.918652+00
5	KTC-005	5	2026-07-22 05:05:39.075657+00
6	KTC-006	6	2026-07-22 05:05:44.841072+00
7	KTC-007	7	2026-07-22 05:05:51.290476+00
8	KTC-008	8	2026-07-22 05:05:56.675549+00
9	KTC-009	9	2026-07-22 05:06:03.312948+00
10	KTC-010	10	2026-07-22 05:06:10.122407+00
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: fleet_user
--

COPY public.users (id, username, email, hashed_password, full_name, is_active, role, created_at) FROM stdin;
\.


--
-- Name: api_keys_id_seq; Type: SEQUENCE SET; Schema: public; Owner: fleet_user
--

SELECT pg_catalog.setval('public.api_keys_id_seq', 1, false);


--
-- Name: scoring_config_cache_id_seq; Type: SEQUENCE SET; Schema: public; Owner: fleet_user
--

SELECT pg_catalog.setval('public.scoring_config_cache_id_seq', 5, true);


--
-- Name: telemetry_raw_id_seq; Type: SEQUENCE SET; Schema: public; Owner: fleet_user
--

SELECT pg_catalog.setval('public.telemetry_raw_id_seq', 1639, true);


--
-- Name: trip_logs_id_seq; Type: SEQUENCE SET; Schema: public; Owner: fleet_user
--

SELECT pg_catalog.setval('public.trip_logs_id_seq', 201, true);


--
-- Name: users_id_seq; Type: SEQUENCE SET; Schema: public; Owner: fleet_user
--

SELECT pg_catalog.setval('public.users_id_seq', 1, false);


--
-- Name: _hyper_1_1_chunk 1_2_telemetry_raw_pkey; Type: CONSTRAINT; Schema: _timescaledb_internal; Owner: fleet_user
--

ALTER TABLE ONLY _timescaledb_internal._hyper_1_1_chunk
    ADD CONSTRAINT "1_2_telemetry_raw_pkey" PRIMARY KEY (id, ts);


--
-- Name: _hyper_1_2_chunk 2_4_telemetry_raw_pkey; Type: CONSTRAINT; Schema: _timescaledb_internal; Owner: fleet_user
--

ALTER TABLE ONLY _timescaledb_internal._hyper_1_2_chunk
    ADD CONSTRAINT "2_4_telemetry_raw_pkey" PRIMARY KEY (id, ts);


--
-- Name: api_keys api_keys_key_hash_key; Type: CONSTRAINT; Schema: public; Owner: fleet_user
--

ALTER TABLE ONLY public.api_keys
    ADD CONSTRAINT api_keys_key_hash_key UNIQUE (key_hash);


--
-- Name: api_keys api_keys_pkey; Type: CONSTRAINT; Schema: public; Owner: fleet_user
--

ALTER TABLE ONLY public.api_keys
    ADD CONSTRAINT api_keys_pkey PRIMARY KEY (id);


--
-- Name: devices devices_pkey; Type: CONSTRAINT; Schema: public; Owner: fleet_user
--

ALTER TABLE ONLY public.devices
    ADD CONSTRAINT devices_pkey PRIMARY KEY (id);


--
-- Name: devices devices_vehicle_id_key; Type: CONSTRAINT; Schema: public; Owner: fleet_user
--

ALTER TABLE ONLY public.devices
    ADD CONSTRAINT devices_vehicle_id_key UNIQUE (vehicle_id);


--
-- Name: scoring_config_cache scoring_config_cache_pkey; Type: CONSTRAINT; Schema: public; Owner: fleet_user
--

ALTER TABLE ONLY public.scoring_config_cache
    ADD CONSTRAINT scoring_config_cache_pkey PRIMARY KEY (id);


--
-- Name: telemetry_raw telemetry_raw_pkey; Type: CONSTRAINT; Schema: public; Owner: fleet_user
--

ALTER TABLE ONLY public.telemetry_raw
    ADD CONSTRAINT telemetry_raw_pkey PRIMARY KEY (id, ts);


--
-- Name: trip_logs trip_logs_pkey; Type: CONSTRAINT; Schema: public; Owner: fleet_user
--

ALTER TABLE ONLY public.trip_logs
    ADD CONSTRAINT trip_logs_pkey PRIMARY KEY (id);


--
-- Name: update_status update_status_pkey; Type: CONSTRAINT; Schema: public; Owner: fleet_user
--

ALTER TABLE ONLY public.update_status
    ADD CONSTRAINT update_status_pkey PRIMARY KEY (vehicle_id, device_id);


--
-- Name: users users_email_key; Type: CONSTRAINT; Schema: public; Owner: fleet_user
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_email_key UNIQUE (email);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: fleet_user
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: users users_username_key; Type: CONSTRAINT; Schema: public; Owner: fleet_user
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_username_key UNIQUE (username);


--
-- Name: _hyper_1_1_chunk_idx_telemetry_device_ts; Type: INDEX; Schema: _timescaledb_internal; Owner: fleet_user
--

CREATE INDEX _hyper_1_1_chunk_idx_telemetry_device_ts ON _timescaledb_internal._hyper_1_1_chunk USING btree (device_id, ts DESC);


--
-- Name: _hyper_1_1_chunk_idx_telemetry_event; Type: INDEX; Schema: _timescaledb_internal; Owner: fleet_user
--

CREATE INDEX _hyper_1_1_chunk_idx_telemetry_event ON _timescaledb_internal._hyper_1_1_chunk USING btree (event) WHERE (event IS NOT NULL);


--
-- Name: _hyper_1_1_chunk_idx_telemetry_ignition; Type: INDEX; Schema: _timescaledb_internal; Owner: fleet_user
--

CREATE INDEX _hyper_1_1_chunk_idx_telemetry_ignition ON _timescaledb_internal._hyper_1_1_chunk USING btree (ignition) WHERE (ignition IS NOT NULL);


--
-- Name: _hyper_1_1_chunk_telemetry_raw_ts_idx; Type: INDEX; Schema: _timescaledb_internal; Owner: fleet_user
--

CREATE INDEX _hyper_1_1_chunk_telemetry_raw_ts_idx ON _timescaledb_internal._hyper_1_1_chunk USING btree (ts DESC);


--
-- Name: _hyper_1_2_chunk_idx_telemetry_device_ts; Type: INDEX; Schema: _timescaledb_internal; Owner: fleet_user
--

CREATE INDEX _hyper_1_2_chunk_idx_telemetry_device_ts ON _timescaledb_internal._hyper_1_2_chunk USING btree (device_id, ts DESC);


--
-- Name: _hyper_1_2_chunk_idx_telemetry_event; Type: INDEX; Schema: _timescaledb_internal; Owner: fleet_user
--

CREATE INDEX _hyper_1_2_chunk_idx_telemetry_event ON _timescaledb_internal._hyper_1_2_chunk USING btree (event) WHERE (event IS NOT NULL);


--
-- Name: _hyper_1_2_chunk_idx_telemetry_ignition; Type: INDEX; Schema: _timescaledb_internal; Owner: fleet_user
--

CREATE INDEX _hyper_1_2_chunk_idx_telemetry_ignition ON _timescaledb_internal._hyper_1_2_chunk USING btree (ignition) WHERE (ignition IS NOT NULL);


--
-- Name: _hyper_1_2_chunk_telemetry_raw_ts_idx; Type: INDEX; Schema: _timescaledb_internal; Owner: fleet_user
--

CREATE INDEX _hyper_1_2_chunk_telemetry_raw_ts_idx ON _timescaledb_internal._hyper_1_2_chunk USING btree (ts DESC);


--
-- Name: idx_devices_active; Type: INDEX; Schema: public; Owner: fleet_user
--

CREATE INDEX idx_devices_active ON public.devices USING btree (active);


--
-- Name: idx_devices_vehicle_id; Type: INDEX; Schema: public; Owner: fleet_user
--

CREATE INDEX idx_devices_vehicle_id ON public.devices USING btree (vehicle_id) WHERE (vehicle_id IS NOT NULL);


--
-- Name: idx_scoring_active; Type: INDEX; Schema: public; Owner: fleet_user
--

CREATE INDEX idx_scoring_active ON public.scoring_config_cache USING btree (is_active) WHERE (is_active = true);


--
-- Name: idx_scoring_effective_date; Type: INDEX; Schema: public; Owner: fleet_user
--

CREATE INDEX idx_scoring_effective_date ON public.scoring_config_cache USING btree (effective_date DESC);


--
-- Name: idx_telemetry_device_ts; Type: INDEX; Schema: public; Owner: fleet_user
--

CREATE INDEX idx_telemetry_device_ts ON public.telemetry_raw USING btree (device_id, ts DESC);


--
-- Name: idx_telemetry_event; Type: INDEX; Schema: public; Owner: fleet_user
--

CREATE INDEX idx_telemetry_event ON public.telemetry_raw USING btree (event) WHERE (event IS NOT NULL);


--
-- Name: idx_telemetry_ignition; Type: INDEX; Schema: public; Owner: fleet_user
--

CREATE INDEX idx_telemetry_ignition ON public.telemetry_raw USING btree (ignition) WHERE (ignition IS NOT NULL);


--
-- Name: idx_trip_logs_device; Type: INDEX; Schema: public; Owner: fleet_user
--

CREATE INDEX idx_trip_logs_device ON public.trip_logs USING btree (device_id);


--
-- Name: idx_trip_logs_driver; Type: INDEX; Schema: public; Owner: fleet_user
--

CREATE INDEX idx_trip_logs_driver ON public.trip_logs USING btree (driver_id);


--
-- Name: idx_trip_logs_driver_score; Type: INDEX; Schema: public; Owner: fleet_user
--

CREATE INDEX idx_trip_logs_driver_score ON public.trip_logs USING btree (driver_score);


--
-- Name: idx_trip_logs_synced; Type: INDEX; Schema: public; Owner: fleet_user
--

CREATE INDEX idx_trip_logs_synced ON public.trip_logs USING btree (synced_to_odoo) WHERE (synced_to_odoo = false);


--
-- Name: idx_trip_logs_trip_start; Type: INDEX; Schema: public; Owner: fleet_user
--

CREATE INDEX idx_trip_logs_trip_start ON public.trip_logs USING btree (trip_start DESC);


--
-- Name: idx_trip_logs_vehicle; Type: INDEX; Schema: public; Owner: fleet_user
--

CREATE INDEX idx_trip_logs_vehicle ON public.trip_logs USING btree (vehicle_id);


--
-- Name: idx_update_status_device; Type: INDEX; Schema: public; Owner: fleet_user
--

CREATE INDEX idx_update_status_device ON public.update_status USING btree (device_id);


--
-- Name: idx_update_status_driver; Type: INDEX; Schema: public; Owner: fleet_user
--

CREATE INDEX idx_update_status_driver ON public.update_status USING btree (driver_id) WHERE (driver_id IS NOT NULL);


--
-- Name: idx_update_status_vehicle; Type: INDEX; Schema: public; Owner: fleet_user
--

CREATE INDEX idx_update_status_vehicle ON public.update_status USING btree (vehicle_id);


--
-- Name: idx_users_email; Type: INDEX; Schema: public; Owner: fleet_user
--

CREATE INDEX idx_users_email ON public.users USING btree (email);


--
-- Name: idx_users_username; Type: INDEX; Schema: public; Owner: fleet_user
--

CREATE INDEX idx_users_username ON public.users USING btree (username);


--
-- Name: telemetry_raw_ts_idx; Type: INDEX; Schema: public; Owner: fleet_user
--

CREATE INDEX telemetry_raw_ts_idx ON public.telemetry_raw USING btree (ts DESC);


--
-- Name: _hyper_1_1_chunk 1_1_telemetry_raw_device_id_fkey; Type: FK CONSTRAINT; Schema: _timescaledb_internal; Owner: fleet_user
--

ALTER TABLE ONLY _timescaledb_internal._hyper_1_1_chunk
    ADD CONSTRAINT "1_1_telemetry_raw_device_id_fkey" FOREIGN KEY (device_id) REFERENCES public.devices(id) ON DELETE CASCADE;


--
-- Name: _hyper_1_2_chunk 2_3_telemetry_raw_device_id_fkey; Type: FK CONSTRAINT; Schema: _timescaledb_internal; Owner: fleet_user
--

ALTER TABLE ONLY _timescaledb_internal._hyper_1_2_chunk
    ADD CONSTRAINT "2_3_telemetry_raw_device_id_fkey" FOREIGN KEY (device_id) REFERENCES public.devices(id) ON DELETE CASCADE;


--
-- Name: api_keys api_keys_created_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: fleet_user
--

ALTER TABLE ONLY public.api_keys
    ADD CONSTRAINT api_keys_created_by_fkey FOREIGN KEY (created_by) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: telemetry_raw telemetry_raw_device_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: fleet_user
--

ALTER TABLE ONLY public.telemetry_raw
    ADD CONSTRAINT telemetry_raw_device_id_fkey FOREIGN KEY (device_id) REFERENCES public.devices(id) ON DELETE CASCADE;


--
-- Name: trip_logs trip_logs_device_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: fleet_user
--

ALTER TABLE ONLY public.trip_logs
    ADD CONSTRAINT trip_logs_device_id_fkey FOREIGN KEY (device_id) REFERENCES public.devices(id) ON DELETE CASCADE;


--
-- Name: update_status update_status_device_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: fleet_user
--

ALTER TABLE ONLY public.update_status
    ADD CONSTRAINT update_status_device_id_fkey FOREIGN KEY (device_id) REFERENCES public.devices(id) ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict 8aZBK6E8dPv9ieowdonbqB2zgyob6ehSg9ul2CJThIVpTHtmdc5sYUi6EHGI9IP

